<html th:replace="~{Admin/Adminbase::layout(~{::main})}">
  <head>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <main>
      <div class="row">
        <div class="col-sm-10 mx-auto">
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="fw-bold text-center text-white">Add Doctor</h3>
            </div>
            <div class="card-body">
              <form method="post" th:object="${doctor}">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="fw-bold">Enter Doctor Name</label>
                    <input
                      th:field="${doctor.name}"
                      type="text"
                      placeholder="Doctor Name"
                      required
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label class="fw-bold">Enter Doctor Age</label>
                    <input
                      th:field="${doctor.age}"
                      type="number"
                      placeholder="Doctor Age"
                      required
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label class="fw-bold">Select Doctor Gender</label>
                    <select
                      th:field="${doctor.gender}"
                      class="form-control"
                      name=""
                      id=""
                    >
                      <option value="">SelectGender.........</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>

                  <div class="col-sm-6">
                    <label class="fw-bold">Enter Doctor Email</label>
                    <input
                      th:field="${doctor.email}"
                      type="email"
                      placeholder="Doctor Email"
                      required
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label class="fw-bold">Enter Password</label>
                    <input
                      th:field="${doctor.password}"
                      type="password"
                      placeholder="Password"
                      required
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label class="fw-bold">Contact Number</label>
                    <input
                      th:field="${doctor.contactNumber}"
                      type="number"
                      placeholder="Contact No"
                      required
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label class="fw-bold">Enter Doctor Aadhar Number</label>
                    <input
                      th:field="${doctor.aadharNumber}"
                      type="number"
                      placeholder="Doctor Aadhar Number"
                      required
                      class="form-control"
                      pattern="\d{12}"
                    />
                  </div>
                  <div class="col-sm-6">
                    <label class="fw-bold">Enter Doctor Specialization</label>
                    <select
                      name=""
                      id=""
                      class="form-control"
                      th:field="${doctor.specialization}"
                    >
                      <option value="">Select Specialization..........</option>
                      <option value="Cardiology">Cardiology</option>
                      <option value="Neurology">Neurology</option>
                      <option value="Pediatrics">Pediatrics</option>
                      <option value="orthopedics">orthopedics</option>
                      <option value="Dermatology">Dermatology</option>
                      <option value="General Medicine">General Medicine</option>
                      <option value="Gynecology">Gynecology</option>
                    </select>
                  </div>
                  <div class="col-sm-12">
                    <label class="fw-bold">Enter Doctor Address</label>
                    <textarea
                      th:field="${doctor.address}"
                      name=""
                      id=""
                      class="form-control"
                    ></textarea>
                  </div>

                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Add Doctor</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
