<html th:replace="~{Admin/Adminbase::layout(~{::main})}">
  <body>
    <main>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h3 class="fw-bold text-center">Manage Enquiries</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="example">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Profile Pic</th>
                      <th>Name</th>
                   
                      <th>Gender</th>
                      <th>Email</th>
                      <th>Contact No</th>
              
                      <th>Enquiry Date</th>
                      <th>Subject</th>
                      <th>Message</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="e,sno: ${enquiryList}">
                      <td class="text-center" th:text="${sno.index+1}">#1</td>
                      <td>@</td>
                      <td th:text="${e.name}">abcd</td>
                   

                      <td th:text="${e.gender}">abc</td>
                      <td th:text="${e.email}">@gmail.com</td>
                      <td th:text="${e.contactNo}">9812345671</td>
                      <td th:text="${e.enquiryDate}">DD/MM/YYYY</td>
                      <td th:text="${e.subject}">abc</td>
                      <td th:text="${e.message}">abc</td>
                     
                     
                   
                      <td>
                        <a href="#" class="btn btn-success btn-sm" >Edit</a>
                        <a href="#" class="btn btn-warning btn-sm" >Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
