<html th:replace="~{Patient/Patientbase::layout(~{::main})}">
<title>Patient Dashboard</title>

<body>
	<main>
		<div class="row">
			<div class="col-sm-11 mx-auto">
				<div class="card" style="border-radius: 10px;">
					<div class="row px-4">
						<div class="col-sm-6 p-3 pt-5">
							<h4>Welocme , <span>Rohit Rai</span></h4>
							<p>Here is yours professional dashboard to track your activity</p>
						</div>
						<div class="col-sm-6 text-right p-2 pt-3">
							<img alt="image not found" src="../assets/img/profile2.jpg" class="rounded-circle"
								width="80px">
							<br><b style="font-size: 18px;">Shadab Hussain</b>
							<p>example@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-11 mx-auto">
				<div class="row">
					<div class="col-md-4">
						<div class="card text-center pt-4 pb-3" style="border-radius: 10px;">
							<div class="icon-circle bg-primary text-white mb-3 mx-auto">
								<i class="bi bi-journal-code"></i>
							</div>
							<p class="m-0">Check upcoming and past appointment.</p>
							<h5 class="fw-bold">Appointment</h5>
							<h5 class="fw-bold">15</h5>
							<a href="viewAppointment" class="btn btn-primary w-25 my-2 mx-auto">View...</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-center pt-4 pb-3" style="border-radius: 10px;">
							<div class="icon-circle bg-primary text-white mb-3 mx-auto">
								<i class="bi bi-journal-code"></i>
							</div>
							<p class="m-0">Check upcoming and past appointment.</p>
							<h5 class="fw-bold">Appointment</h5>
							<h5 class="fw-bold">15</h5>
							<a href="#" class="btn btn-primary w-25 my-2 mx-auto">View...</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-center pt-4 pb-3" style="border-radius: 10px;">
							<div class="icon-circle bg-primary text-white mb-3 mx-auto">
								<i class="bi bi-journal-code"></i>
							</div>
							<p class="m-0">Check upcoming and past appointment.</p>
							<h5 class="fw-bold">Appointment</h5>
							<h5 class="fw-bold">15</h5>
							<a href="#" class="btn btn-primary w-25 my-2 mx-auto">View...</a>
						</div>
					</div>


				</div>

			</div>
			<div class="col-sm-11 mx-auto">
				<div< class="card px-4 pt-4" style="border-radius: 10px;">
					<div class="row">
						<div class="col-sm-8">
							<h5> Make an appointment for your better Health</h5>
						</div>
						<div class="col-sm-4 pb-3 text-right">
							<a href="BookAppointment" class="btn btn-primary">Book Appointment</a>
						</div>
					</div>
			</div>
		</div>

		</div>
		<style>
			.icon-circle {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.8rem;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

			}
		</style>

	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
</body>

</html>