<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/bootstrap.bundle.js" defer></script>
    <script src="js/script.js" defer></script>
    <title>PGI Virtual Care</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 p-0 myNavbar">
          <nav class="navbar navbar-expand-lg bg-body-white bg-white">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">...Logo</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-5">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about"
                      >About</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      href="/services"
                      >Services</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                  </li>
                
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                     href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Login
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Doctor Login</a></li>
                      <li>
                        <a class="dropdown-item" href="/login">Patient Login</a>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Admin Login</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact US</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div th:replace="${content}"></div>
    </div>
  </body>
</html>
