<html th:replace="~{base::layout(~{::main})}">
  <body>
    <main>
      <div class="login-container" onclick="">
        <div class="login-top"></div>
        <div class="login-bottom"></div>
        <div class="login-center">
          <h2>Please Sign In</h2>
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
            th:if="${msg}"
          >
        <p th:text="${msg}"></p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <form action="/login" method="post">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
