<html th:replace="~{Doctor/Doctorbase::layout(~{::main})}">
  <body>
    <main>
      <div class="row">
        <div class="col-sm-10 mx-auto">
          <div class="card">
            <div class="card-header bg-primary">
              <h1 class="fw-bold text-center text-white">
                Write Prescription for
                <span th:text="${appointment.patientName.name}"></span>
              </h1>
            </div>
            <div class="card-body">
              <form method="post" th:object="${prescription}">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="" class="fw-bold">diagonsis</label>
                    <input       
                      th:field="${prescription.diagonsis}"
                      class="form-control"
                      rows="1"
                      type="text"
                      placeholder="Write diagonsis"
                      required
                    />
                  </div>
                  <div class="col-sm-12">
                    <label for="" class="fw-bold">Advice</label>
                    <input
                      th:field="${prescription.advice}"
                      class="form-control"
                      rows="1"
                      type="text"
                      placeholder="Advice"
                      required
                    />
                  </div>
                  <div class="col-sm-12">
                    <label for="" class="fw-bold">Medication Details</label>
                    <textarea
                      th:field="${prescription.medicationDetails}"
                      class="form-control"
                      rows="1"
                      type="text"
                      required
                      placeholder="Write Medication Details"
                    ></textarea>
                    <input
                      type="hidden"
                      th:value="${appointment.id}"
                      name="appointment"
                    />
                  </div>
                  <div class="col-sm-12 text-center pt-5">
                    <button type="submit" class="btn btn-primary"></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
